@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
    body {
        margin: 0;
    }


    .header {
        background-color: #42807D;
        height: 198px;
        width: 100%;
    }

    
    .header .title {
        width: 40% !important;
        font-size: 3.3rem !important;
        margin: 0% 3% 1.5% 31.5%!important;
    }

    .navigation ul {
        margin-top: 0%;
        margin-right: 5.5%;
    }


    .navigation ul li {
        margin-left: 7%;
    }


    .navigation ul li a {
        font-size: 1.2rem;
        padding: 0;

        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease, font-weight 0.3s ease;
        position: relative;
    }

    .navigation ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #00ff5e;
        transition: width 0.3s ease;
    }



    .navigation ul li a:hover::after {
        width: 100%;
       
    }




    h1 {
        margin: 8% auto 10%;
        font-size: 2.9rem;

    }

    h2.expandir {
        margin-top: 11%;
        font-size: 2.1rem !important;
        line-height: 1.4;
        margin-bottom: 1% !important;
        padding: 0 !important;
    }

    .info {
        width: 90%;
        padding: 10px;
    }

    .infoOne {
        margin: 0;
    }

    .expandDiv h2 {
        margin: 1% 0 3% 2.5%;
        font-size: 1.3rem;
        text-align: start;
        width: 90%;
    }

    .sec1 p {
        font-size: 4.2rem;
    }
h2{
    color: #000;
}
    .infoOne {
        line-height: 1.3rem;

        width: 100%;
    }

    .infoOne p {
        width: 93%;
        margin: auto;
        font-size: 1.2rem;
        line-height: 2rem;
        border-radius: 13px;
        margin-bottom: 3%;
        padding: 2%;
        text-align: start;
    }

    .infoTwo {
        width: 97%;
        margin: auto;

    }

    .infoTree {
        width: 99%;
        line-height: 1.3rem;
    }

    .infoTwo p,
    .infoTree p {
        width: 93%;
        margin: 0;
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 1%;
        text-align: start;
        margin: 2% 0% 12%;

    }

    .carrossel {
        display: flex;
        height: 444px; 
       
        width: 100%; 
        max-width: 100%;
        border-radius: 4%;
        overflow: hidden;
        margin: 0 auto;
    }

.div-ilustrativa{
    margin-left: 2%;
    height: 442px;
    margin-top: 19%;
}

.botaoo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.676);
    color: white;
    border: none;
    border-radius: 50%;
    height: 43px;
    width: 6.6%;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.botaoo:hover{
background-color: #fff;
color:#000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
    
    .sec1 h1 {
        width: 100%;
        margin-top: 22px;
        margin-bottom: 0;
    }

    h1.h1skills {
        width: 53%;
        font-size: 2.8rem;
      margin-left: 18%;
      margin-bottom: 10%;
    }

    .skills-icons {
        margin: auto;
        margin-left: 6%;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }


    .skills-icons i {
        margin-top: 0;
        font-size: 3.9rem;
        margin: 1%;
        padding-left: 3%;
    }

    .formulario {
        width: 88%;
        margin-top: 2%;
height:844px;
    }

    .forms {
        margin-left: auto;
        margin-right: 2%;
        display: block;
        width: 96%;
        max-width: 88%;
        height: 563px;
    }



   
    



   
    .parcerias {
        padding: 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 82px;
    }
    .parcerias h1{
        text-align: center;
        margin-top: 0;
        padding-bottom: 19%;
    font-size: 6rem;
    width: 50%;
    margin: auto;
    }
    
    .image {
        display: flex;
        justify-content: center;
        gap: 70px;
    margin-left: 21%;
    margin-top: 13%;
    margin-bottom:  17%;
    }
    
    .image img {
        
        width: 100px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform .3s;
    }
          
/* Rodapé */


    
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 54px;
    width: 46%;
    border: none;
    border-radius: 11px;
    padding: 0 15px;
margin: 5% 0% 17% 27%;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}



.fot {
margin: 0;
padding: 0;
width: 100%;
height: 60px;
padding: 17px;
background-color: #42807D;
text-align: center;
}

.fot p  {
padding: 0%;
margin-top: 0%;
margin-bottom: 2%;
margin-right: 5%;
font-size: 17px;
color: #000000;
position: relative;
top: 31%;
}



.fot p a {
margin: 0 25px;
font-size: 18px;
padding: 0;

}
.fot p:last-of-type {

font-size: 1rem;
text-align: center; 

}


    }