@media only screen and (min-width: 1450px) and (max-width: 1690px) {
    body {
        padding: 0;
    }
*{
    text-align: center;
    margin: auto;
}
    .container {
        width: 100%;
        padding: 15px;
    }
    .header {
        background-color: #42807D;
        position: relative;
        width: 100%;
        height: 220px;
        top: 0;
        margin:0 ;
    }
    
    
    
    .header div {
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }
    
    .navigation ul {
        display: flex;
        justify-content: center;
        list-style: none;
     margin: 1.4% 0 6% 3%;
        padding: 0;
    }
    
    
    .navigation ul li {
    padding-right:14.5% ;
        
    }
    
    .navigation ul li a {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding-left: 15px ;
        font-size: 1.3rem;
        
        margin: 0;
        transition: background-color 0.9s ease;
    }
    
    
    .navigation ul li a::after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color: #00ff5e;
        transition: width 0.3s ease, left 0.3s ease;
    }
    
    .navigation ul li a:hover::after {
        width: 100%;
        left: 0; 
    }
    
    
        .header h1 {
            font-size: 3.8rem;
            width: 15%;
           margin: 0% 0% 2% 41.5%;
            padding: 0;
        }
    
    


    img {
        width: 34%;
        height: auto;
        margin: 5% auto;
    }


    
    .descripition-ccr {
        width: 80%;
        font-size: 1.8rem;
        text-align: start;
        line-height: 2rem;
        margin: 2% auto 7%;
    }

    .information {
        flex-direction: row;
        justify-content: center;
        margin: 5% auto;
        width: 100%;
        
    }

    .informationOne{
        font-size: 1.9rem;
        width: 40%;
        margin: 8% 0%;
        margin-left: 8%;
        margin-bottom: 1%;
        text-align: center;  
    }
    .informationTwo {
        font-size: 1.9rem;
        width: 40%;
        margin: 5% 4% 17% 0%; 
        text-align: center;
    }

    .paragrafoFour{
        margin-top: 4%;
    }
    .paragrafoTwo{
        margin-top: 3%;
    }
    .paragrafoThree{
        margin-bottom: 1%;
    }

    .info-extra {
        margin: 0 auto 5%;
        margin-right: 14%;
        width: 70%;
        font-size: 1.7rem;
        text-align: center;
        padding-block: 30px;
    }
}