@media only screen and (min-width: 1450px) and (max-width: 1690px) {
   

    h1 {
        font-size: 3rem;
    }

    header {
        height: 122px;
        width: 70%;
    }

    .membroOne,
    .membroTwo,
    .membroThree {
        width: 100%;
        height: 533px;
        padding: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }

    .membroOne img {
        margin-top: 2%;
        height: auto;
        width: 14%;
        margin-bottom: 0;
    }

    .membroTwo img {
        margin-top: 3%;
        height: auto;
        width: 14%;
        margin-bottom: 0;
    }

    .membroThree img {
        margin-top:2% ;
        height: auto;
        width: 14%;
        margin-bottom: 0;
    }



    .descripition {
        font-size: 1.8rem;
        margin: 0 auto;
        width: 70%;
    }

    .descripition {
        font-size: 1.2rem;
        width: 55%;

    }

    .descripitionOne  {
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    .descripitionTwo  {
        margin: 1% auto 0;
        font-size: 1.8rem;
    }
    .descripitionThree  {
        margin: 1% auto 0;
        font-size: 1.8rem;
    }
   






    .descripitionOne h3 {
        margin-bottom: 3.5%;
    font-size: 1.7rem;
    }
    .descripitionOne p {
        margin-bottom: 0%;
    font-size: 1.4rem;
    }


    .iconsOne{
      margin-right: 49%;
      top: 18%;
      
    }
    
    .iconsTwo{
        margin-right: 2%;
        top: 10%;
        right: 21%;
      }

      .iconsThree{
        margin-right: 49%;
        top: 17%;
      }

    .descripitionTwo h3 {
        margin-bottom: 3.5%;
    font-size: 2.1rem;
    }
    .descripitionTwo p {
        margin-bottom: 0%;
    font-size: 1.4rem;
    
    }


    .descripitionTwo  {
        margin: 1% auto 0;
        font-size: 1.8rem;
    }

 
    .descripitionThree h3 {
        margin-bottom: 3.5%;
    font-size: 1.7rem;
    }
    .descripitionThree p {
        margin-bottom: 0%;
    font-size: 1.4rem;
    }


  


    .fab {
        font-size: 44px;
        margin: 0 10px;
        color: #000;
      position: relative;
      left: 33%;
      top: 9%;
    }



}
