

@media only screen and (min-width: 992px) and (max-width: 1199px) {




    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }


    @keyframes slide-in {
        0% {
            transform: translateX(-100%); 
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    /*cabecalho de projetos*/
    
    .header {
        background-color: #42807D;
width: 100%;
    }

    .header h1 {
        width: 15%;
        margin: auto;
        font-size: 1.5rem;
  
        background-color: #42807D;
    }

    .navigation ul li {
        margin: 15px 0;
        font-size: 1.8rem;
        padding-left: 5%;
    }



    
    
    .content-item {
        display: flex;
        flex-direction: row;       
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        height: 405px;
        transition: transform 0.5s ease;

    }

    .section-container {
        display: flex;
        flex-direction: column;
        width: 89%;
    }


    .content-item h1 {
        font-size: 2.2rem;
        width: 100%;
        position: relative;
        left: 2%;
        bottom: 1%;
        margin-bottom: 7%;
    }

   

    .image-container img {
        height: 272px;
        width:100%;
        object-fit: cover;
margin: 0 auto 10% 5%;
padding: 0;
    }

    .description-container {
     position: relative;
     bottom: 18%;
     left: 5%;
    }

    .description-container h3 {
        text-align: start;
        font-size: 2.4rem;
        margin-bottom: 1.5%;
    }

    .description-container p {
        width: 40%;
        padding-bottom: 1%;
        font-size: 1.6rem;
    }



    /*secao do card*/
    .sec2 {
        padding: 20px;
    }

    .avisos h1 {
        font-size: 4.3rem;
        margin-bottom: 7%;
    }

    .card {
        width: 50%;
        height: 303px;
        margin: 0.5% ;
        margin-bottom: 8%;
    }


    
    .card:hover .titulo-card1 {
        color: #fff200;
    }



    .card:hover .titulo-card2 {
        color: #e1e1e1;
    }

    .card:hover .titulo-card3 {
        color: #00ff04;
    }

    .avisos h2{
        font-size: 2.4rem;
    }

    .avisos p {

        font-size: 1.7rem;
        text-align: center;
        padding: 0;
    }


/*secao das informacoes */
    
    .sec3 h3 {
        font-size: 1rem;
    }
    
    .sec3 h1 {
        font-size: 3rem;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .divOne {
        margin: 7% 1%;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 0.8s ease, transform 3s ease;
    }
    
    .divOne.visible {
        opacity: 1;
        transform: translateY(0);
    }
    
    .divOne h3 {
        font-size: 2.7rem;
        text-align: start;
        padding: 2%;
        border-radius: 13px;
    }
    
    .divOne p {
        font-size: 1.5rem;
        width: 100%;
        text-align: start;
        line-height: 2rem;
        padding-left: 2.5%;
    }
    


/* informacoes dos cards */
.info-card {
    background-color: #28524D;
    color: #fff;
    border-radius: 13px;
    text-align: center;
    position: fixed;
    top: 8.5%;
    left: 60%;
    width: 40%;
    padding: 20px;
    opacity: 0;
    transform: translate(-50%, -200%);  
    transition: transform 0.6s ease, opacity 0.6s ease;
    z-index: 10;
}

.info-card h2 {
    color: #2cc731;
}



    /*ocultamento dos cards*/

    .info-card {
        display: none;
    }
    

.info-card.active {
    transform: translate(-50%, 0); 
    opacity: 1;
}




    .divTwo {
        width: 48%;
        margin-top: 10%;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 0.8s ease, transform 3s ease;
    }
    
    .divTwo.visible {
        opacity: 1;
        transform: translateY(0);
    }
    
    .divTwo h3 {
        font-size: 2.7rem;
        text-align: end;
        padding: 6%;
    }
    
    .divTwo p {
        font-size: 1.5rem;
        width: 100%;
        text-align: end;
        line-height: 2rem;
        padding-left: 1.5%;
    }
    





    footer {
        height: 150px;
    }

    footer p {
        font-size: 1.6rem;
    }
}