
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 

}


/*ocultamento do menu burguer*/

.menu-toggle,
.mobile-nav {
    display: none;
}

.header {
    background-color: #42807D;

}


.header div {
    display: flex;
    flex-direction: column;
    text-align: center;

}


.navigation {
    margin: auto;
}


.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}

.navigation ul li {
    margin: 0 6% 4%;
  
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
font-size: 2rem;
    padding: 10px;
    transition: background-color 0.9s ease;
}

.navigation ul li a:hover {
    background-color: #28524D;
    border-radius: 5px;
}






.header h1 {

margin: 1% auto 1%;
    width: 82%;
     font-weight: bold;
    margin-left: 222px;
    font-size: 5.6rem;

    
}







img{
    width: 21%;
    height: 522px;
margin: 0 auto 1%;
margin-block: 70px;

}

.descripition-ccr{
    width: 44%;
margin: auto;
font-size: 2.8rem;
line-height: 3.3rem;
}

.information{
    font-size: 2.2rem;
width: 88%;
display: flex;
margin: auto;
margin-top: 8%;
}

.informationOne{
    text-align: center;
    font-size: 2.9rem;
    width: 55%;
    margin-right: 13%;
    padding-right:83px ;
}


.informationTwo{
margin: 0;
width: 54%;
font-size: 2.9rem;
text-align: center;
}


.info-extra{
    margin-top: 3%;
font-size: 3rem;
text-align: center;
padding-block: 55px;
}


.move{
    position: relative; 
    animation: slide-in 2s ease-out forwards; 
    opacity: 0;
}

@keyframes slide-in {
    22% {
        transform: translateY(-50%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}




.fot, p  {
    text-align: center;
padding-top: 9px;
}

.fot p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.9s ease;
    
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #42807d; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}