
body {
    overflow-x: hidden;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4; 
}


    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }


.info {
    display: none;
}

.hover-div:hover .info {
    display: block;
}


/* Cabeçalho */
.header {
    background-color: #42807D;
    position: relative;
    width: 100%;
    height: 235px;
    top: 0;
    margin:0 ;
}



.header div {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
 margin: 1.4% 0 6% 3%;
    padding: 0;
}


.navigation ul li {
padding-right:3.5% ;
    
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding-left: 8px ;
    font-size: 1.2rem;
    
    margin: 0;
    transition: background-color 0.9s ease;
}


.navigation ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #00ff5e;
    transition: width 0.3s ease, left 0.3s ease;
}

.navigation ul li a:hover::after {
    width: 100%;
    left: 0; 
}







.secaoOne{
width: 100%;
}


.header h1 {
    font-size: 4.8rem;
    width: 15%;
  color: #000;
    margin: 0 auto 0;
    margin-bottom: 0px;
    padding: 0;
}







img{
    width: auto;
    height: 422px;
  margin-left: 36%;
margin-block: 40px;

}

.descripition-ccr{
    width: 60%;
margin: auto;
text-align: center;
font-size: 2.4rem;
line-height: 3.3rem;
}

.information{
   
    font-size: 2.2rem;
width: 98%;
display: flex;
margin: auto;
margin-top: 8%;
}

.informationOne{
    text-align: center;
    font-size: 2.3rem;
    width: 49%;
    margin-right: 13%;
    padding-right:83px ;
}
.paragrafoThree{
  
    margin: 6% auto 6%;
}

.informationTwo{
margin: 0;
width: 50%;
font-size: 2.3rem;
text-align: center;
}


.info-extra{
    margin-top: 8%;
font-size: 2.5rem;
text-align: center;
padding-block: 55px;
}


.move{
    position: relative; 
    animation: slide-in 2s ease-out forwards; 
    opacity: 0;
}

@keyframes slide-in {
    22% {
        transform: translateY(-50%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}


#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 73px;
    width: 22%;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
margin: 7% 39%  9%;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}

#scrollToTop:hover{
    background-color: #13c030;
    color: #ffffff;
    }
    .fot {
   
        width: 100%;
        height: 87px;
        background-color: #42807D;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .fot p {
        margin: 0;
        font-size: 17px;
        color: #ffffff;
    }
    
    .fot p a {
        margin:  33px;
        
        font-size: 20px;
        
        color: #ffffff;
        text-decoration: none;
    }
    
    .fot p a:hover {
        color: #000000; 
    }
    
    .fot p:last-of-type {
        margin-top: 18px;
        font-size: 1.4rem; 
        font-size: 1rem;
        color: #000000;
        font-weight: bold;
    }
    