

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}



/* cabecalho do site */

.header{
    background-color:#28a746 ;
position: relative;
width: 100%;
top: 0;
}


.header div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
   
}
.navigation ul {
display: flex;
justify-content: center;
list-style: none;
padding: 0px;
}

.navigation ul li{
    margin: 0 19px;
    padding-top: 1%;
    font-size: 1.6rem;
}

.navigation ul li a {
text-decoration: none;
color: #fff;
font-weight: bold;
padding: 10px;
transition: background-color 0.9s ease;
}
.navigation ul li a:hover {
    background-color: #28524D; 
    border-radius: 5px;
}
.header h1{
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding-block: 1%;
    font-size: 5rem;
}
.matteus{
   
   height: 833px;
   width: 100%;
    background-color: #28524D;
}
.matteus img{
height: 333px;
width: 10%;
position: relative;
left: 45%;
top: 15%;
}
.descripition {
text-align: center;
color: #fff;
font-size: 2.1rem;
margin-top: 173px;

}
.pedro{
  
    height: 833px;
    width: 100%;
     background-color: #97aca9;
}
.pedro img{
    height: 333px;
    width: 10%;
    position: relative;
    left: 45%;
    top: 15%;
}
.descripitionn{
    text-align: center;
    color: #0c1719;
    font-size: 2.1rem;
    margin-top: 173px;
    
}
.sulamita{
   
    height: 833px;
    width: 100%;
     background-color: #28524D;
 }
 .sulamita img{
    height: 333px;
    width: 10%;
    position: relative;
    left: 45%;
    top: 15%;
    }
    .descripition {
        text-align: center;
        color: #fff;
        font-size: 2.1rem;
        margin-top: 173px;
        
        }
        .but{
            padding: 16px;
            width: 233px;
border-radius: 7px;
margin: auto;   
margin-block: 73px; 
color: #fff;
            text-align: center;
            background-color: #28a745;


        }


        

.fot, p  {
    text-align: center;
padding-top: 9px;
}

.fot p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.9s ease;
    
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #42807d; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}