body {
    display: flex;
    flex-direction: column;
    margin: 0; 
    background-color: #f0f0f0;
}



body{
    padding: 0;
    margin: 0;
    }
    
    
    
    /*ocultamento do menu burguer*/
    
    .menu-toggle,
    .mobile-nav {
        display: none;
    }
    
    .header {
        background-color: #42807D;
    
    }
    
    .header h1 {
    
    
        width: 15%;
    
        font-size: 6rem;
      margin-bottom: 1%;
    
        background-color: #42807D;
    }
    
    
    .div-header ul {
        background-color: #42807D;
        margin-top: 0;
    }
    
    .navigation {
        margin: auto;
    }
    
    .navigation ul {
        flex-direction: row;
    }
    
    
    
    
    .div-header h1 {
    
        margin: 0 auto;
        margin-bottom: 1%;
        padding: 0;
        font-size: 3rem;
        padding-block: 17px;
    }
    
    .header div {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1%;
    
    }
    
    .navigation ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0px;
    }
    
    .navigation ul li {
        margin: 0 19px;
        padding-top: 1%;
        font-size: 1.6rem;
    }
    
    .navigation ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    font-size: 2rem;
        padding: 10px;
        transition: background-color 0.9s ease;
    }
    
    .navigation ul li a:hover {
        background-color: #28524D;
        border-radius: 5px;
    }
    




.navigation ul li a:hover {
    background-color: #28524D; 
    border-radius: 5px;
}

.header h1 {
    font-size: 2.2rem;
    margin: 0;
}



/* Estilos do Título da Seção */
h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

/* Seção da Equipe */
section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.membroOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28524D;
    width: 100%;
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}



.membroOne:hover {
    transform: scale(1.1); 
}

.membroOne img {
    margin-top: 3.5%;
    height:auto; 
  width: 16%;
    border-radius: 10px; 
}



.membroTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 

}

.membroTwo img {
    margin-top: 3.5%;
    height: 424px; 
  width: 13%;
    border-radius: 10px; 
}



.membroTwo:hover {
    transform: scale(1.1); 
}

.membroThree{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28524D;
    width: 100%;
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}

.membroThree img {
    margin-top: 3.5%;
    height: 424px; 
  width: 13%;
    border-radius: 10px; 
}


.membroThree:hover {
    transform: scale(1.1); 
}
.descripition {
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.but {
    padding: 16px;
    width: 21%;
    height: 50px;
    border-radius: 7px;
    margin: 5% auto; 
    color: #fff;
    text-align: center;
    background-color: #28a745;
    transition: background-color 0.3s ease;
}
.but h2{
font-size: 2rem;
width: 100%;
}.but:hover {
    background-color: #ffffff; 
    color:  #28a745;
}


/* Rodapé */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #42807d; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.fot, p {
    text-align: center;
    padding-top: 9px;
}

.fot p a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.9s ease;
}
