
  a{
    text-decoration: none;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF; 
}

html, body {
    overflow-x: hidden;
}



    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }



.hover-div:hover .info {
    display: block;
}


.hover-div {
  
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Cabeçalho */
.header {
    background-color: #42807D;
    position: relative;
    width: 100%;
    height: 240px;
    top: 0px;
    margin:0px ;
    padding: 0;
}


.header .div-header h1 {
    font-size: 4.8rem;
    width: 30%;
    height: 1%;
    margin:  auto;
    padding: 0.5%;
    padding-bottom: 1%;
    color: #000; 
}


.header div {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
 margin: 0% 0 2% 1%;
    padding: 0;
}


.navigation ul li {
padding-right: 15px ;
margin-top: 0;
    
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding-left: 8px ;
    padding: 5px 30px;
    font-size: 1.2rem;
    
    margin: 0;
    transition: background-color 0.9s ease;
}


.navigation ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #00ff5e;
    transition: width 0.3s ease, left 0.3s ease;
}

.navigation ul li a:hover::after {
    width: 100%;
    left: 0; 
}



    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }



    
    
    
    /*primeira secao*/
    
    
    .sec1 {
        width: 100%;
        margin: 0;
    }
    
    
    /*titulo principal*/
    h1 {
         font-size: 4rem;
         padding-block: 1.7%;
         text-align: center;
     }
     
    
    
    .info {
    margin-top: 4%;
        width: 90%;
    
    }
    
    /*subtituto*/
    
    h2.expandir {
        width: 99%;
        text-align: start;
        font-size: 2.7rem;
        margin-left: 5%;
        margin-bottom: 3.5%;
        margin-top: 6%;
    }
    
    .infoOne {
        position: relative;
    
        font-family: 'Poppins', sans-serif;
        text-align: start;
        margin: auto;
        padding: 0;
        line-height: 3.5rem;
       margin-left: 5%;
       margin-top: 0%;
    }
    
    
    /*paragrafos de funções e funcionalidades*/
    .paragrafoOne,.paragrafoTwo, .paragrafoTre{
        margin-bottom: 3%;
        font-size: 1rem;
    }
    
   
    
      
    
    
  
    
    /*informações */
    
    .infoTwo  {
        margin-left: 5%;
        font-size: 2.6rem;
       margin-bottom: 0;
    }
    .infoTwo p{
        margin-bottom: 0;
    }
    
    .infoTree {
     
        line-height: 3.4rem;
        margin-left: 5%;
        width: 92%;
    }


    /*paragrafo da informação*/
    
    .info p {

        font-size: 2rem;
        line-height: 2.5rem;
        padding-bottom: 20px;
        width: 77%;
    }
    

/* Ajustes no carrossel */
.secao-ilustrativa {
    margin: auto;
    margin-left: 11.5%;
}

.carrossel {
    position: relative;
    width: 55%;
    height: 655px;
    max-width: 1010px;
    margin: 12% auto 10%;
    overflow: hidden;
    border-radius: 12px;
}

.container {
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
}

.container img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}


   
   
   
    /*linguagens ultilizadas*/
    
    .h1skills{
       font-size: 4.5rem;
        width: 48%;
        margin-left: 8.5%;
    }
    .skills-icons {
        gap: 1;
        justify-content: center;
        padding: 1px;
        margin-left: 25.5%;
        
        
    }
    
    

    
    /*icones*/
    .skills-icons i {
        text-align: center;
        color: var(--color-black);
        font-size: 6rem;
        margin-left: 4%;
        padding-left: 0;
        transition: color 0.3s;
    }
    
    .skills-icons i:hover {
        cursor: pointer;
    }
    
    /* Cores dos ícones da skills */
    .skills-icons .fa-html5:hover {
        color: #e34f26;
        transform: scale(1.35)
    }
    
    .skills-icons .fa-css3-alt:hover {
        color: #1572b6;
        transform: scale(1.35)
    }
    
    .skills-icons .fa-js:hover {
        color: #f7df1e;
        transform: scale(1.35)
    }
    
    
    .skills-icons .fa-db:hover {
        color: #f2f2f2;
        transform: scale(1.35)
    }
    
    .skills-icons .fa-php:hover {
        color: #4f938b;
        transform: scale(1.35)
    }
    
    .skills-icons .fa-java:hover {
        color: #f89820;
        transform: scale(1.35)
    }
    
    .skills-icons .fa-python:hover {
        color: #306998;
        transform: scale(1.35)
    }
    
    
    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 636px;
        width: 34%;
        margin: auto;
        margin-top: 13%;
        margin-bottom: 10%;
    }
    
    .form-container {
        background-color: #42807D;
        padding: 60px; 
        border-radius: 7px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        width: 800px; 
    }
    
    h2 {
        text-align: center;
     
        color: #fff;
        font-size: 2rem;
        margin-bottom: 7%;
        margin-top: 0;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.6rem; 
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 19px; 
        margin-bottom: 40px; 
        border: 1px solid #ccc;
        border-radius: 16px;
        box-sizing: border-box;
        font-size: 16px; 
    }
    
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #000000;
        font-size: 1.3rem;
    }


    input::placeholder,
    textarea::placeholder {
        color: #c4bcbc; 
        font-family:Arial, Helvetica, sans-serif; 
        opacity: 1; 
    }
    

    
    .botao {
        width: 100%;
        text-align: center;
        padding: 15px; 
        background-color: #15b127
        ;
        color: rgb(221, 221, 221);
        border: none;
        border-radius: 17px;
        cursor: pointer;
        font-size: 1.5rem; 
        margin-top: 2%;
    }
    
    .botao:hover {
        background-color: #ffffff;
        color: #00ff5e;
    }
    
    .success-message {
        color: green;
        font-size: 1.7rem;
        text-align: center;
        margin-top: 20px;
    }
    

    .error {
        color: red;
        font-size: 14px; 
        display: none; 
    }
    

    
    .parcerias {
        padding: 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 82px;
    }
   
     h1{
        margin: 3% auto 8%
    }
    .image {
        display: flex;
        justify-content: center;
        gap: 130px;
    margin-left: 32.5%;
    margin-bottom: 7%;
    }
    
    .image img {
        
        width: 160px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform .3s;
    }
    
    .image img:hover {
        transform: scale(1.05);
        
    }
    
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 73px;
    width: 22%;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
margin: 5% 5% 8% 39%;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}

#scrollToTop:hover{
background-color: #13c030;
color: #ffffff;
}
.fot {
   
    width: 100%;
    height: 87px;
    background-color: #42807D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fot p {
    margin-bottom: 1%;
    font-size: 17px;
    color: #ffffff;
}

.fot p a {
    margin:  30px;
    
    font-size: 20px;
    
    color: #ffffff;
    text-decoration: none;
}

.fot p a:hover {
    color: #000000; 
}

.fot p:last-of-type {
    margin-top: 13px;
    font-size: 1.4rem; 
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
}