
* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}




    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }


.info {
    display: none;
}

.hover-div:hover .info {
    display: block;
}


.hover-div {
  
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Cabeçalho */
.header {
    background-color: #28524D;
    position: relative;
    width: 100%;
    height: 242px;
    top: 0;
    margin:0 ;
}


.header .div-header h1 {
    font-size: 3.9rem;
    margin: 0.5% auto 0%;
    color: #000; 
}


.header div {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
 
    padding: 0;
}


.navigation ul li {
padding: 2%;
    font-size: 2rem;
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding-left: 8px ;
    font-size: 2.2rem;
    
    margin: 0;
    transition: background-color 0.9s ease;
}


.navigation ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #00ff5e;
    transition: width 0.3s ease, left 0.3s ease;
}

.navigation ul li a:hover::after {
    width: 100%;
    left: 0; 
}












/* Primeira seção */
.section-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
    width: 80%;
}

.content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}



.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-block: 22px;
}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10px;
}

.description-container {
    flex: 3;
    font-size: 1.5rem;
    text-align: start;
}

.description-container p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    width: 17%;
}

.sec1 h1 {
    font-size: 2.5rem;
    padding-block: 1.7%;
}

/* Segunda seção */
.sec2 {
    padding: 20px;
    background-color: #00000043;
}

.avisos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.avisos h1 {
    font-size: 2.9rem;
    text-align: center;
    color: #fff;
    margin-bottom: 3%;
}
.sec3{
}

.card {
    background: linear-gradient(135deg, #28a745, #000000b7);
    padding: 20px;
    width: 24%;
    border-radius: 10px;
    margin:  2% 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card h2 {
    font-size: 1.9rem;
    margin-bottom: 1.5%;
    padding-bottom: 22px;
}



.card p {
    font-size: 1.2rem;
    padding: 20px;
    white-space: nowrap;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.info-button {
    background-color: #2cc731;
    height: 21%;
    color: white;
    border: none;
    border-radius: 7%;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.22s ease;
}

.info-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(47, 255, 10);
}

/* Barras coloridas */
.amarelas,
.cinza,
.verde {
    height: 6px;
}

.amarelas {
    background-color: yellow;
}

.cinza {
    background-color: #c1d7d3;
}

.verde {
    background-color: rgb(0, 255, 115);
}



    /*ocultamento dos cards*/

    .info-card {
        display: none;
    }


/* Terceira seção */
.sec3 {
    width: 100vw;
    text-align: center;
    padding-bottom: 13%;
}

.sec3 h1 {
    font-size: 4rem;
    padding-block: 2%;
    font-weight: bold;
    width: 92%;
    margin-right: auto;
}

.sec3 h3 {
    font-size: 3.8rem;
    text-align: start;
    margin: 15% 0 3%;
}

.sec3 p {
    font-size: 2.4rem;
    width: 58%;
    text-align: start;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
}

.divOne {
    width: 60%;
    margin-left: 2%;
}

.divTwo {
    width: 50%;
    margin-left: 67%;
    margin-top: 30px;
}

/* Animações */
@keyframes slide-in {
    22% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.divTwo p{
text-align: start;
}
/* Rodapé */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #42807d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.9s ease;
}

