
@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {

  
   
    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }

    .header {
        background-color: #42807D;
        height: 198px;
        width: 100%;
    }

    
    .header .title {
        width: 40% !important;
        font-size: 3.3rem !important;
        margin: 2% 3% 2% 30%!important;
    }

    .navigation ul {
        margin-top: 1%;
        margin-right: 5.5%;
    }


    .navigation ul li {
        margin-left: 7%;
    }


    .navigation ul li a {
        font-size: 1.2rem;
        padding: 0;

        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease, font-weight 0.3s ease;
        position: relative;
    }

    .navigation ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #00ff5e;
        transition: width 0.3s ease;
    }



    .navigation ul li a:hover::after {
        width: 100%;
       
    }
    
    .section-container {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 15px;
        padding: 10px 0;
    
    }

    .content-item {
        display: flex;
flex-direction: column;
        flex: 0 0 auto; 
    width: 85%; 
    max-width: 450px; 
    height: 358px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    scroll-snap-align: start; 
    }

    .content-item h1 {
        margin: 0;
        font-size: 1.7rem;
        margin: 1% auto 2%;
      
    }

    .image-container img {
        height: 211px;
        padding-top: 5%;
    position: relative;
    bottom: 5%;
    }

    .image-container {
width: 80%;
height: 191px;
    }

    .description-container {
        width: 62%;
        margin-top: 2%;
     margin-right: 13%;
        bottom: 4%;
       
    }

    .description-container h3 {
        text-align: center;
        font-size: 1.5rem;
    
        margin:  18% auto 3%;
    }

    .description-container p {
        width: 80%;
        margin: auto;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 1%;
    }
/*secoes dos avisos*/
    




.avisos {
    background-color: #42807D;
    border-radius: 15px;
    width: 90%; 
    height: 484px; 
    margin: 1% auto 8%;
}


.avisos h2{
    color: #Fff;
}


.avisos h2 p {
   margin: 0;
   font-size: 1.1rem; 
   width: 29%;
   display: flex;
   

}


.linha {
    display: flex;

    align-items: center;
    margin-bottom:5px;
    font-size: 1.2rem;
margin-left: 0%;
}



.linha_esmeralda, .linha_diamante, .linha_amarela {
    margin-top: 2%;
}

.amarelas, .cinza, .verde {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 29px 20px 11px 19px;
  margin-bottom: 10%;
    background-color: #00ff5e;
}

.amarelas {
    background-color: yellow;
}

.cinza {
    background-color: rgb(0, 255, 119);
}

.verde {
    background-color: rgb(255, 42, 5);
}



.texto h2, .texto p {
    margin: 0;
    padding: 0;
}




    

    .sec3 h3 {
        font-size: 2.8rem;
    }




    .sec3 h1 {
        font-size: 2.1rem;
        margin: auto;
        margin-top: 5%;
    }
 

    .divOne {
        margin: 18% auto 10% 8%;
        width: 68%;
        
    }

    .divOne h3 {
        text-align: start;
    font-size: 1.9rem;
    margin: 1% 0 3.5% 0%;
    }

    .divOne p {
        width: 100%;
        margin: 0;
        text-align: start;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .divTwo {
        width: 65%;
        margin:  20% 4% 3% 30%;
    }

    .divTwo h3 {
    text-align: start;
        margin:  5% auto 3% ;
        border-radius: 13px;
        font-size: 1.8rem;
       
    }

    .divTwo p {
        font-size: 22px;
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.6rem
    }
    .fot {
            padding-bottom: 0;
        width: 100%;
        height: 56px;
        padding: 17px;
        background-color: #42807D;
        text-align: center;
    }

   
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 54px;
    width: 46%;
    border: none;
    border-radius: 11px;
    padding: 0 15px;
margin: 17% 26.5%  0%;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}
       
    .fot {
        margin: 0;
        padding: 0;
    width: 100%;
    height: 100px;
    padding: 17px;
    background-color: #42807D;
    text-align: center;
}

.fot p  {
padding: 0%;
margin-top: 0%;
margin-bottom: 1%;
margin-right: 5%;
    font-size: 17px;
    color: #000000;

}



.fot p a {
   margin: 0 25px;
    font-size: 18px;
    padding: 0;
    
}


}

