@media (max-width: 576px) {

    * {
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    }

    .header {
        overflow-x: hidden;
        background-color: #42807D;
        height: 80px !important;
        width: 100%;

        text-align: center;
    }


    .title {
        width: 90% !important;
        font-size: 2rem !important;
        margin: 4% 1% 0% 3% !important;
    }




    /*ocultando a li*/

    .navigation {
        display: none;
    }

    .menu_box {
        display: block;
    }




    /*header*/

    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .header {
        background-color: #42807D;
        height: 168px;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }



    /*menu burguer*/

    .menu_toggle {
        display: none;
    }

    .menu_btn {
        position: fixed;
        top: 36px;
        left: 416px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }

    .menu_btn span,
    .menu_btn span::before,
    .menu_btn span::after {
        display: block;
        background-color: #2ecc19;
        height: 3px;
        width: 100%;
        transition: transform 0.25s ease;
        position: relative;
    }

    .menu_btn span::before,
    .menu_btn span::after {
        content: '';
        position: absolute;
    }

    .menu_btn span::before {
        transform: translateY(-8px);
    }

    .menu_btn span::after {
        transform: translateY(8px);
    }

    .menu_toggle:checked+.menu_btn span {
        transform: rotate(45deg);
    }

    .menu_toggle:checked+.menu_btn span::before {
        transform: rotate(90deg);
    }

    .menu_toggle:checked+.menu_btn span::after {
        transform: rotate(90deg);
    }

    .menu_box {
        position: fixed;
        top: 0;
        left: 100%;
        width: 200px;
        height: 213px;
        background-color: #eeeeeedc;
        padding-top: 11px;
        border-radius: 7px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
        transition: left 0.25s ease;
    }

    .menu_toggle:checked~.menu_box {
        left: calc(100% - 200px);

    }

    .menu_box ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu_item {
        display: block;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.25s;
        font-size: 1.5rem;
    }

    .menu_item:hover {
        color: #00ea27;
    }









    img {
        width: 35%;
        height: 162px;
        margin: 10% auto 1%;


    }


    .descripition-ccr {
        width: 88%;

        font-size: 1.2rem;
        text-align: start;
        line-height: 2rem;
    }



    .information {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 8%;
    }

    .informationOne {
        margin: 0%;
        text-align: end;
        font-size: 1.4rem;
        width: 73%;
        padding: 0;
    }
 
    .informationTwo {
        margin: 0;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 13%;
        width: 100%;
    }


    .paragrafoOne{
        text-align: start;
        width: 100%;
        margin: 10% 0;
    }
    .paragrafoTwo{
        text-align: end;
        width: 90%;
       margin-left: 42%;
    }


    .paragrafoThree{
text-align: start;
width: 88%;
margin-top: 11%; 
}
    .paragrafoFour{
        text-align: end;
    margin-left:22% ;        
    }


    .info-extra {
        margin-top: 3%;
        font-size: 1.8rem;
        text-align: center;
        padding-block: 55px;
    }

}