@media (max-width: 576px) {

    /* Estilos padrão para telas maiores */
    body {
        padding: 20px;
    }

    .container {
        width: 100%;
        margin: auto;
        padding: 15px;
    }


    body {
        padding: 0;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .header h1 {
        font-size: 2.9rem;
        margin: auto;
    }


    .navigation ul li a {
        font-size: 1.3rem;
    }





    img {
        width: 35%;
        height: 162px;
        margin: 10% auto 1%;


    }


    .descripition-ccr {
        width: 88%;

        font-size: 1.2rem;
        text-align: start;
        line-height: 2rem;
    }



    .information {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 8%;
    }

    .informationOne {
        margin: 0%;
        text-align: end;
        font-size: 1.4rem;
        width: 73%;
        padding: 0;
    }
 
    .informationTwo {
        margin: 0;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 13%;
        width: 100%;
    }


    .paragrafoOne{
        text-align: start;
        width: 100%;
        margin: 10% 0;
    }
    .paragrafoTwo{
        text-align: end;
        width: 90%;
       margin-left: 42%;
    }


    .paragrafoThree{
text-align: start;
width: 88%;
margin-top: 11%; 
}
    .paragrafoFour{
        text-align: end;
    margin-left:22% ;        
    }


    .info-extra {
        margin-top: 3%;
        font-size: 1.8rem;
        text-align: center;
        padding-block: 55px;
    }

}