    @media (max-width: 576px) {

        * {
            margin: auto;
            padding: 0;
            box-sizing: border-box;
        }
    
        .header {
            background-color: #42807D;
            height: 80px !important;
            width: 100%;
    
            text-align: center;
        }
    
    
        .title {
            width: 90% !important;
            font-size: 2rem !important;
            margin: 4% 1% 0% 3% !important;
        }
    
    
    
    
        /*ocultando a li*/
    
        .navigation {
            display: none;
        }
    
        .menu_box {
            display: block;
        }
    
    
    
    
        /*header*/
    
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
    
        .header {
            background-color: #42807D;
            height: 168px;
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            text-align: center;
        }
    
    
    
        /*menu burguer*/
    
        .menu_toggle {
            display: none;
        }
    
        .menu_btn {
            position: fixed;
            top: 36px;
            left: 416px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 1;
        }
    
        .menu_btn span,
        .menu_btn span::before,
        .menu_btn span::after {
            display: block;
            background-color: #2ecc19;
            height: 3px;
            width: 100%;
            transition: transform 0.25s ease;
            position: relative;
        }
    
        .menu_btn span::before,
        .menu_btn span::after {
            content: '';
            position: absolute;
        }
    
        .menu_btn span::before {
            transform: translateY(-8px);
        }
    
        .menu_btn span::after {
            transform: translateY(8px);
        }
    
        .menu_toggle:checked+.menu_btn span {
            transform: rotate(45deg);
        }
    
        .menu_toggle:checked+.menu_btn span::before {
            transform: rotate(90deg);
        }
    
        .menu_toggle:checked+.menu_btn span::after {
            transform: rotate(90deg);
        }
    
        .menu_box {
            position: fixed;
            top: 0;
            left: 100%;
            width: 200px;
            height: 213px;
            background-color: #eeeeeedc;
            padding-top: 11px;
            border-radius: 7px;
            box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
            transition: left 0.25s ease;
        }
    
        .menu_toggle:checked~.menu_box {
            left: calc(100% - 200px);
    
        }
    
        .menu_box ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        .menu_item {
            display: block;
            padding: 10px 20px;
            color: #333;
            text-decoration: none;
            font-weight: 600;
            transition: color 0.25s;
            font-size: 1.5rem;
        }
    
        .menu_item:hover {
            color: #00ea27;
        }
    
    
    
    
    



        /* informacoes  das estaçoes */


        .content-item {

            background-color: #f9f9f9;
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            margin-top: 22%;
            height: 451px;
        }

        /*titulo  das informações*/
        .content-item h1 {
            margin-top: 8%;
            font-size: 1.9rem;
        }

        /*img das informações */
        .image-container {
            height: 333px;
            width: 88%;
        }

        /*imagem */
        .image-container img {
            width: 100%;
        }

        /*descrição*/

        .description-container {
margin: 8% 15% 3% 0%;
            width: 88%;
            text-align: center;
            border-radius: 8px;
            

        }

        .description-container h3 {
            font-size: 1.4rem;
            margin-bottom: 6%;
        }

        .description-container p {
            width: 77%;
            font-size: 1.3rem;
            margin: auto;
            padding-bottom: 6px;

        }

        .sec2 {
            padding: 0;
        }

     

    /*seção 3*/


    .avisos {
        background-color: #42807D;
        border-radius: 15px;
        width: 85%; 
        height: 544px; 
        margin: 1% auto 8%;
    }
    
    
    .avisos h2{
        color: #Fff;
    }
    
    
    .avisos h2 p {
       margin: 0;
       font-size: 1.5rem; 
       width: 29%;
       display: flex;
       

    }
    
    .sec3 {
        background-color: #fff;
    }
    
    
    
    .linha {
        display: flex;
 
        align-items: center;
        margin-bottom:5px;
        font-size: 1.1rem;
    margin-left: 0%;
    }



    .linha_esmeralda, .linha_diamante, .linha_amarela {
        margin-top: 2%;
    }
    
    .amarelas, .cinza, .verde {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 9px 15px 11px 22px;
      margin-bottom: 10%;
        background-color: #00ff5e;
    }
    
    .amarelas {
        background-color: yellow;
    }
    
    .cinza {
        background-color: rgb(0, 255, 119);
    }
    
    .verde {
        background-color: rgb(255, 42, 5);
    }
    


    .texto h2, .texto p {
        margin: 0;
        padding: 0;
    }
    




    .sec3 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .sec3 h1 {

        font-size: 1.7rem;
        width: 100%;
        margin: 4% auto;
    }

    .divOne {
        width: 95%;
        margin: auto;
        text-align: start;
    }

    .divOne h3 {

        text-align: start;
        font-size: 1.7rem;
        margin: 7% 0 0% 7%;
        padding-block: 7px;
        border-radius: 14px;
        width: 100%;

    }

    .divOne p {
        margin: 3% 0 0 5%;
        font-size: 1rem;
        text-align: start;
        width: 90%;
    }

    .paragrafo {
        padding: 12px;
        line-height: 1.4rem;
        width: 100%;
        box-sizing: border-box;
        white-space: normal;
        margin: 0px auto 0 0;
        padding-top: 0;
    }

    .divTwo {
        width: 90%;
        margin: 0;

    }



    .divTwo p {
        padding: 0;
        margin: 2% 0 0 5%;
        font-size: 1rem;
        text-align: start;
        width: 90%;
        background-color: none;
    }


    .divTwo h3 {

        margin: 0 auto 2% 17%;
        text-align: start;
        font-size: 1.6rem;
        margin: 10% 0 0% 06%;
        padding-block: 7px;
        border-radius: 14px;
        width: 100%;
    }


    .divTwo {

        margin: 34px auto;
    }
    
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 53px;
    width: 29%;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
margin: 15% 35%  0%;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}

    .fot {

        width: 100%;
        height:74px;
     
        background-color: #42807D;
        text-align: center;
    }


    .fot p a {
        margin: 1% 7% 0% 0%;
        font-size: 15px;
        padding: 0;
        font-size: 1.1rem;
    }

    footer.fot p:last-of-type {
       
        font-weight: bold; 
        font-size: 1rem;
        margin-bottom: 0;
    }
    
   
    }