    @media (max-width: 576px) {

        * {
            text-align: center;
margin: auto;

        }

        .header {
            background-color: #42807D;
        }

        .header h1 {
            width: 50%;
            margin: auto;
            background-color: #42807D;
        }


        /* Estilos do botão do menu hambúrguer */
        .menu-toggle {
            display: none;
            flex-direction: column;
            cursor: pointer;
            z-index: 1001;
        }

        .menu-toggle span {
            height: 3px;
            /* Altura das barras do botão */
            width: 30px;
            /* Largura das barras do botão */
            background-color: #11ff00;
            /* Cor das barras */
            margin: 5px auto;
            /* Espaço entre as barras */
        }




        .navigation {
            display: none;
        }

        .mobile-nav {

            flex-direction: column;
            background-color: #28a746;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 28vh;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            display: none;
        }

        .mobile-nav.active {
            display: flex;

        }

        .mobile-nav li {
            margin: 20px 0;

        }

        .mobile-nav ul {
            list-style-type: none;
            color: #fff;
            width: 41%;
        }

        .mobile-nav li a {
            text-decoration: none;
            font-size: 1.9rem;
            color: #fff;

        }

        .mobile-nav li a:hover {
            background-color: #11dd1b;
            color: #ffffff;
            border-radius: 7%;
            padding: 4%;
        }

        /* informacoes  */


        .content-item {

            background-color: #f9f9f9;
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            margin-top: 22%;
        }

        .image-container {
            height: 333px;
            width: 88%;
        }

        .image-container img {
            width: 100%;
        }



        .description-container {
            background-color: rgb(236, 241, 236);

            width: 88%;
            text-align: center;
            border-radius: 8px;
            padding-bottom: 14px;

        }

        .description-container h3 {
            font-size: 1.9rem;
        }

        .description-container p {
            width: 77%;
            margin: auto;
            padding-bottom: 6px;

        }


        .card {
            width: 68%;
            margin: auto;
            margin-bottom: 29px;
            display: flex;
            flex-direction: column;

        }

        .avisos h1 {
            font-size: 1.7rem;

            padding-bottom: 32px;
        }

        .avisos h2 {
            font-size: 1.7rem;
            width: 99%;
            margin: auto;
            padding-bottom: 18px;
        }

        .card p {
            width: 100%;
            font-size: 1rem;
            color: #fff;
        }


        .info-button {
            width: 78%;
            margin: auto;
            border-radius: 4px;
        }

        .sec3 {
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .sec3 h1 {

            font-size: 1.7rem;
            width: 80%;
          margin: 4% auto;
        }

        .divOne {
            width: 80%;
            margin: auto;
            text-align: start;
        }

        .divOne h3 {
            margin: auto;
            text-align: center;
            font-size: 1.7rem;

            padding-block: 12px;
            border-radius: 19px;
            width: 40%;

        }

        .paragrafo {
            padding: 12px;
            line-height: 1.8rem;
            margin: auto;
        width: 100%;
        }

        .divTwo {
            width: 100%;
            margin: auto;
            margin-left: 0;
        }

        .divTwo h3 {

            margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: center;
            font-size: 1.8rem;

            padding-block: 12px;
            
            border-radius: 19px;
            width: 64%;
            height: 58px;
        }


        .divTwo {

            margin: 34px auto;
        }

      
    }