    @media (max-width: 576px) {

        * {
            padding: 0;
             margin: 0;
            box-sizing: border-box;
        }
    

    
        body {
        
            margin: 0;
            font-family: Arial, sans-serif;
            overflow-x: hidden; 
        
        }
    

    /* Estilos do Header */
.header {
    overflow-x: hidden;
    background-color: #42807D;
    height: 86px !important;
    width: 100%;
    text-align: center;
}

/* Título */
.title {
    width: 90% !important;
    font-size: 2rem !important;
    margin: 5% 1% 0% 5% !important;
}


/* Ocultando a lista de navegação */
.navigation {
    display: none;
}

.menu_box {
    display: block;
}

/* Estilos gerais do Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #42807D;
    height: 168px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

/* Menu hambúrguer */
.menu_toggle {
    display: none;
}

.menu_btn {
    position: fixed;
    top: 36px;
    right: 26px; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
    display: block;
    background-color: #2ecc19;
    height: 3px;
    width: 100%;
    transition: transform 0.25s ease;
    position: relative;
}

.menu_btn span::before,
.menu_btn span::after {
    content: '';
    position: absolute;
}

.menu_btn span::before {
    transform: translateY(-8px);
}

.menu_btn span::after {
    transform: translateY(8px);
}

.menu_toggle:checked + .menu_btn span {
    transform: rotate(45deg);
}

.menu_toggle:checked + .menu_btn span::before {
    transform: rotate(90deg);
}

.menu_toggle:checked + .menu_btn span::after {
    transform: rotate(90deg);
}

.menu_box {
    position: fixed;
    top: 0;
    right: 0; 
    width: 200px;
    height: 25.5%;
    background-color: #eeeeeee7;
    padding-top: 15px;
    border-radius: 7px 0 0 7px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease;
    transform: translateX(100%); 
}

.menu_toggle:checked ~ .menu_box {
    transform: translateX(0); 
}

.menu_box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.25s;
    font-size: 1.5rem;
}

.menu_item:hover {
    color: #00ea27;
}








        /* informacoes  das estaçoes */


        .content-item {

            background-color: #f9f9f9;
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            margin-top: 22%;
            height: 451px;
        }

        /*titulo  das informações*/
        .content-item h1 {
            margin-top: 8%;
            font-size: 1.9rem;
        }

        /*img das informações */
        .image-container {
            height: 333px;
            width: 100%;
        }

        /*imagem */
        .image-container img {
            width: 100%;
            height: auto;
        }

        /*descrição*/

        .description-container {
margin: 8% 15% 3% 0%;
            width: 88%;
            text-align: center;
            border-radius: 8px;
            

        }

        .description-container h3 {
            font-size: 1.4rem;
            margin-bottom: 6%;
        }

        .description-container p {
            width: 77%;
            font-size: 1.3rem;
            margin: auto;
            padding-bottom: 6px;

        }

        .sec2 {
            padding: 0;
            height: 557px;
        }

     

    /*seção 3*/


    .avisos {
        background-color: #42807D;
        border-radius: 15px;
        width: 85%; 
        height: 404px; 
        margin: 21% auto 8%;
    }
    
    
    .avisos h2{
        color: #Fff;
        font-size: 1.2rem;
      
    }
    
    
    .avisos h2 p {
       margin: 0;
       font-size: 1.8rem; 
       width: 29%;
       display: flex;
       

    }
    
    .sec3 {
        background-color: #fff;
        height: 877px;
        padding-bottom: 0px;
        
    }
    
    
    
    .linha {
        display: flex;
 
        align-items: center;
margin: 1px 0 ;
        font-size: 1.1rem;
    margin-left: 0%;
    }



    .linha_esmeralda, .linha_diamante, .linha_amarela {
        margin-top: 1%;
        gap: 10px;
    }
    
    .amarelas, .cinza, .verde {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 9px 15px 11px 22px;
      margin-bottom: 10%;
        background-color: #00ff5e;
    }
    
    .amarelas {
        background-color: yellow;
    }
    
    .cinza {
        background-color: rgb(0, 255, 119);
    }
    
    .verde {
        background-color: rgb(255, 42, 5);
    }
    


    .texto h2, .texto p {
        margin: 0;
        padding: 0;
    }
    




    .sec3 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .sec3 h1 {

        font-size: 1.7rem;
        width: 100%;
        margin: 4% auto;
    }

    .divOne {
        width: 95%;
        margin-top: 5% ;
        text-align: start;
    }

    .divOne h3 {

        text-align: start;
        font-size: 1.7rem;
        margin: 7% 0 0% 7%;
        padding-block: 7px;
        border-radius: 14px;
        width: 100%;

    }

    .divOne p {
        margin: 3.5% 0 0 5%;
        font-size: 1rem;
        text-align: start;
        width: 90%;
    }

    .paragrafo {
        padding: 12px;
        line-height: 1.4rem;
        width: 100%;
        box-sizing: border-box;
        white-space: normal;
        margin: 0px auto 0 0;
        padding-top: 0;
    }

    .divTwo {
        width: 90%;
        margin-top: 0%;

    }



    .divTwo p {
        padding: 0;
        margin: 2% 0 0 5%;
        font-size: 1rem;
        text-align: start;
        width: 90%;
        background-color: none;
    }


    .divTwo h3 {

        margin: 0 auto 2% 17%;
        text-align: start;
        font-size: 1.6rem;
        margin: 10% 0 0% 06%;
        padding-block: 7px;
        border-radius: 14px;
        width: 100%;
    }


    .divTwo {

        margin: 34px auto;
    }
    
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 53px;
    width: 35%;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
margin: 14% 35%     3% 33%;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}
.fot {
    position: static;
    width: 100%;
    height: auto;
    background-color: #42807D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

.fot p {
    margin: 5px 0; 
    font-size: 17px; 
    color: #ffffff;
}

.fot p a {
    margin: 15px 0; 
    font-size: 1rem; 
    color: #ffffff;
    text-decoration: none;
}

.fot p a:hover {
    color: #000000; 
}

.fot p:last-of-type {
    margin-top: 10px;
    font-size: 1.4rem; 
    color: #000000;
    font-weight: bold;
}



    .fot p {
        font-size: 15px; 
        margin-top: 15px ;
    }
    

    .fot p a {
        font-size: 1rem;
        margin: 70px 22px;
    }

    .fot p:last-of-type {
        font-size: 0.9rem; 
        margin-top: 5px;
    }


   
    }