@media screen and (max-width: 576px) {

    * {
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    }

    /*menu burguer*/

    
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow-x: hidden; 
        width: 100%;
    }

    p{
        overflow-wrap: break-word; 
        word-break: break-word
    }


/* Estilos do Header */
.header {
    overflow-x: hidden;
    background-color: #42807D;
    height: 86px !important;
    width: 100%;
    text-align: center;
}

/* Título */
.title {
    width: 90% !important;
    font-size: 2rem !important;
    margin: 5% 1% 0% 5% !important;
}


/* Ocultando a lista de navegação */
.navigation {
    display: none;
}

.menu_box {
    display: block;
}

/* Estilos gerais do Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #42807D;
    height: 168px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

/* Menu hambúrguer */
.menu_toggle {
    display: none;
}

.menu_btn {
    position: fixed;
    top: 36px;
    right: 16px; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
    display: block;
    background-color: #2ecc19;
    height: 3px;
    width: 100%;
    transition: transform 0.25s ease;
    position: relative;
}

.menu_btn span::before,
.menu_btn span::after {
    content: '';
    position: absolute;
}

.menu_btn span::before {
    transform: translateY(-8px);
}

.menu_btn span::after {
    transform: translateY(8px);
}

.menu_toggle:checked + .menu_btn span {
    transform: rotate(45deg);
}

.menu_toggle:checked + .menu_btn span::before {
    transform: rotate(90deg);
}

.menu_toggle:checked + .menu_btn span::after {
    transform: rotate(90deg);
}

.menu_box {
    position: fixed;
    top: 0;
    right: 0; 
    width: 200px;
    height: 25.5%;
    background-color: #eeeeeee7;
    padding-top: 15px;
    border-radius: 7px 0 0 7px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease;
    transform: translateX(100%); 
}

.menu_toggle:checked ~ .menu_box {
    transform: translateX(0); 
}

.menu_box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.25s;
    font-size: 1.5rem;
}

.menu_item:hover {
    color: #00ea27;
}










    /*INFORMACOES*/

    h1 {
        margin: 5% auto 0;
        font-size: 2.3rem;
    }

    h2.expandir {
        text-align: start;
        margin: 5% 0 5% 5.4%!important;
        font-size: 1.4rem !important;
        line-height: 1.3;
        margin-bottom: 2.5% !important;
        padding: 0 !important;
    }


    .info {
        width: 96%;
        padding: 10px;
    }

    .expandDiv {
        margin: 0;
    }

    .expandDiv h2 {

        line-height: 1.4;
        width: 100%;

    }




    .infoOne {

        line-height: 1.6rem;
        overflow-wrap: break-word;

        width: 100%;
        margin: 0;
    }

    .infoOne p {
        width: 93%;
        margin: auto;
        font-size: 1rem;
        line-height: 1.8rem;
        border-radius: 13px;
        margin-bottom: 3%;
        padding: 3%;
        text-align: start;
    }





    .infoTwo {
        width: 97%;
        margin: auto;

    }

    .infoTree {
        width: 96%;
        line-height: 1.7rem;
        margin-bottom: 19%;
        margin-right: 2%;
    }

    .infoTwo p,
    .infoTree p {
        width: 98%;
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.8rem;
        border-radius: 13px;
        text-align: start;
    }



    .infoTwo{
            margin-left: 5%;
    }

    .secao-ilustrativa {
        margin-right: 9%;
        overflow: hidden;
    }

    .carrossel {
        display: flex;
        height: auto;
        width: 390px;
        max-width: 100%;
        border-radius: 4%;
        padding-bottom: 6%;
        margin: 0 auto;

    }


    .container {
        margin-top: 10%;
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease; 
    }

    .container img {
        height: 241px;
        width: 100%;
        max-width: 390px;
        border-radius: 4%;

    }



    .sec1 h1 {
        width: 100%;
        margin-top: 11% auto 5%;

    }




    .h1skills {
        font-size: 2.3rem;
        margin: 5% auto 2%;
        text-align: center;
        width: 100%;
    }
    
    .skills-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 3% 0% 12%;
        padding: 10px;
    }
    
    .skills-icons i {
        font-size: 2rem;
        padding-left: 2%;
    }
    

    .skills-icons i {
        margin-top: 0;
        font-size: 3.2rem;
        margin: 0;
    }




    /*formulario*/

    .formulario {
        margin-top: 13px;

    }

    form {
        height: 190px;
        width: 96%;
    }


    
    .forms {
        height: 863px;
        width: 32%;
        margin: 6% auto;
        margin-left: 39%;
        background-color: #42807D;
        ;
        border-radius: 12px;
    }



    .forms input {
        background-color: transparent;
        margin: 50px auto;
        padding: 44px;
        width: 99%;
        height: 11px;

        font-size: 1.3rem;
        margin-left: 8%;
    }

    .forms textarea {
        height: 22px;
        font-size: 1.7rem;
        width: 99%;
        margin-bottom: 5px;
        text-decoration: none;
    }


    input::placeholder,
    textarea::placeholder {
        color: #949c9c;
    }







    .formulario {
        height: 623px;
        width: 90%;
    }

    .form-container {
        padding: 20px;
        width: 90%;
        height: 595px;
        border-radius: 10px;
    }

    h2 {
        font-size: 1.6rem;
        padding-bottom: 1%;
        padding-top: 3%;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
        font-size: 14px;
        margin-bottom: 13%;
        border-radius: 9px;
    }

    input[type="text"]:nth-of-type(1),
    input[type="email"]:nth-of-type(1) {
        height: 47px; 
        font-size: 1rem;
    }
    

    input[type="text"]:nth-of-type(2),
    input[type="email"]:nth-of-type(2) {
        height: 47px; 
        font-size: 1rem; 
    }

    .botao {
        padding: 15px;
        font-size: 1.2rem;
    }

    .error {
        font-size: 10px;
    }






    .parcerias {
        margin-top: 9%;
       margin-bottom: 0;
        height: auto;
        display: flex;
     
        justify-content: center;
     
    }

    #suggestionForm {
        height: 222px;
    }

    .image {
        width: 100%; 
        display: flex;
        justify-content: center; 
        gap: 44px; 
        margin: 14%  0% 18% 11% ; 
        flex-wrap: wrap;
    }
    
    .image img {
        height: 72px;
        width: auto;
        max-width: 100%; 
     
        flex: 1 1 auto;
        border-radius: 8px;
    }
    


  
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 53px;
    width: 35%;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
margin: 4% 5%     13% 33%;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}
    
    #scrollToTop:hover{
    background-color: #13c030;
    color: #ffffff;
    }

    
   
.fot {
    position: static;
    width: 100%;
    height: auto;
    background-color: #42807D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

.fot p {
    margin: 5px 0; 
    font-size: 17px; 
    color: #ffffff;
}

.fot p a {
    margin: 15px 0; 
    font-size: 1rem; 
    color: #ffffff;
    text-decoration: none;
}

.fot p a:hover {
    color: #000000; 
}

.fot p:last-of-type {
    margin-top: 10px;
    font-size: 1.4rem; 
    color: #000000;
    font-weight: bold;
}



    .fot p {
        font-size: 15px; 
        margin-top: 15px ;
    }
    

    .fot p a {
        font-size: 1rem;
        margin: 70px 22px;
    }

    .fot p:last-of-type {
        font-size: 0.9rem; 
        margin-top: 5px;
    }


    


}