@media screen and (max-width: 576px) {

    * {
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    }

    .header {
        overflow-x: hidden;
        background-color: #42807D;
        height: 80px !important;
        width: 100%;

        text-align: center;
    }


    .title {
        width: 90% !important;
        font-size: 2rem !important;
        margin: 2.5% 1% 0% 3% !important;
    }




    /*ocultando a li*/

    .navigation {
        display: none;
    }

    .menu_box {
        display: block;
    }




    /*header*/

    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .header {
        background-color: #42807D;
        height: 168px;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }



    /*menu burguer*/

    .menu_toggle {
        display: none;
    }

    .menu_btn {
        position: fixed;
        top: 36px;
        left: 416px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }

    .menu_btn span,
    .menu_btn span::before,
    .menu_btn span::after {
        display: block;
        background-color: #2ecc19;
        height: 3px;
        width: 100%;
        transition: transform 0.25s ease;
        position: relative;
    }

    .menu_btn span::before,
    .menu_btn span::after {
        content: '';
        position: absolute;
    }

    .menu_btn span::before {
        transform: translateY(-8px);
    }

    .menu_btn span::after {
        transform: translateY(8px);
    }

    .menu_toggle:checked+.menu_btn span {
        transform: rotate(45deg);
    }

    .menu_toggle:checked+.menu_btn span::before {
        transform: rotate(90deg);
    }

    .menu_toggle:checked+.menu_btn span::after {
        transform: rotate(90deg);
    }

    .menu_box {
        position: fixed;
        top: 0;
        left: 100%;
        width: 200px;
        height: 213px;
        background-color: #eeeeeedc;
        padding-top: 11px;
        border-radius: 7px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
        transition: left 0.25s ease;
    }

    .menu_toggle:checked~.menu_box {
        left: calc(100% - 200px);

    }

    .menu_box ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu_item {
        display: block;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.25s;
        font-size: 1.5rem;
    }

    .menu_item:hover {
        color: #00ea27;
    }







    /*INFORMACOES*/

    h1 {
        margin: 5% auto 0;
        font-size: 2.3rem;
    }

    h2.expandir {
        text-align: start;
        margin: 5% 0 2% 4%;
        font-size: 1.4rem !important;
        line-height: 1.3;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }


    .info {
        width: 96%;
        padding: 10px;
    }

    .expandDiv {
        margin: 0;
    }

    .expandDiv h2 {

        line-height: 1.4;
        width: 100%;

    }




    .infoOne {

        line-height: 1.6rem;


        width: 100%;
        margin: 0;
    }

    .infoOne p {
        width: 93%;
        margin: auto;
        font-size: 1rem;
        line-height: 1.8rem;
        border-radius: 13px;
        margin-bottom: 3%;
        padding: 3%;
        text-align: start;
    }





    .infoTwo {
        width: 97%;
        margin: auto;

    }

    .infoTree {
        width: 96%;
        line-height: 1.7rem;
        margin-bottom: 19%;
        margin-right: 2%;
    }

    .infoTwo p,
    .infoTree p {
        width: 98%;
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.8rem;
        border-radius: 13px;
        text-align: start;
    }



    .infoTwo{
            margin-left: 5%;
    }

    .secao-ilustrativa {
        margin-right: 9%;
        overflow: hidden;
    }

    .carrossel {
        display: flex;
        height: auto;
        width: 390px;
        max-width: 100%;
        border-radius: 4%;
        padding-bottom: 6%;
        margin: 0 auto;

    }


    .container {
        margin-top: 10%;
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease; 
    }

    .container img {
        height: 241px;
        width: 100%;
        max-width: 390px;
        border-radius: 4%;

    }



    .sec1 h1 {
        width: 100%;
        margin-top: 11% auto 5%;

    }




    .h1skills {
        font-size: 2.3rem;
        margin: 5% auto 2%;
        text-align: center;
        width: 100%;
    }
    
    .skills-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .skills-icons i {
        font-size: 2rem;
    }
    




    /*formulario*/

    .formulario {
        margin-top: 13px;

    }

    form {
        height: 1800px;
        width: 80%;
    }


    
    .forms {
        height: 863px;
        width: 32%;
        margin: 6% auto;
        margin-left: 39%;
        background-color: #42807D;
        ;
        border-radius: 12px;
    }



    .forms input {
        background-color: transparent;
        margin: 50px auto;
        padding: 44px;
        width: 88%;
        height: 11px;

        font-size: 1.3rem;
        margin-left: 8%;
    }

    .forms textarea {
        height: 22px;
        font-size: 1.7rem;
        width: 77%;
        margin-bottom: 0%;
        text-decoration: none;
    }


    input::placeholder,
    textarea::placeholder {
        color: #949c9c;
    }


    .bot {
        background-color: #fff;
        height: 47px;
        width: 59%;
        border-radius: 12px;
        color: #00ff15;
        font-size: 1.4rem;
        margin-left: 22%;
        margin-top: 6%;
    }




    .skills-icons i {
        margin-top: 0;
        font-size: 3.3rem;
        margin: 0;
    }



    .formulario {
        height: auto;
        width: 90%;
    }

    .form-container {
        padding: 20px;
        width: 90%;
        height: 565px;
    }

    h2 {
        font-size: 1.7rem;
        padding-bottom: 1%;
        padding-top: 3%;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
        font-size: 14px;
        margin-bottom: 13%;
        border-radius: 9px;
    }

    input[type="text"]:nth-of-type(1),
    input[type="email"]:nth-of-type(1) {
        height: 47px; 
        font-size: 1rem;
    }
    

    input[type="text"]:nth-of-type(2),
    input[type="email"]:nth-of-type(2) {
        height: 47px; 
        font-size: 1rem; 
    }

    .botao {
        padding: 15px;
        font-size: 1.2rem;
    }

    .error {
        font-size: 10px;
    }






    .parcerias {
        margin-top: 9%;
       
        height: auto;
        display: flex;
     
        justify-content: center;
     
    }

    #suggestionForm {
        height: 222px;
    }

    .image {
        width: 100%; 
        display: flex;
        justify-content: center; 
        gap: 44px; 
        margin: 10% auto 4% 1%; 
        flex-wrap: wrap;
    }
    
    .image img {
        height: 99px;
        width: auto;
        max-width: 100%; 
     
        flex: 1 1 auto;
        border-radius: 8px;
    }
    




    .fot {

        width: 100%;
        height:74px;
     
        background-color: #42807D;
        text-align: center;
    }


    .fot p a {
        margin: 1% 7% 0% 0%;
        font-size: 15px;
        padding: 0;
        font-size: 1rem;
    }

    footer.fot p:last-of-type {
        color: rgb(5, 5, 5); 
        font-weight: bold; 
        font-size: 14px;
        margin-bottom: 0;
    }
    


}