@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {


    

    /* Ocultando o menu */
   .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }

    .header {
        background-color: #42807D;
        height: 198px;
        width: 100%;
    }

    
    .header .title {
        width: 40% !important;
        font-size: 3.3rem !important;
        margin: 2% 3% 2% 31.5%!important;
    }

    .navigation ul {
        margin-top: 1%;
        margin-right: 5.5%;
    }


    .navigation ul li {
        margin-left: 7%;
    }


    .navigation ul li a {
        font-size: 1.2rem;
        padding: 0;

        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease, font-weight 0.3s ease;
        position: relative;
    }

    .navigation ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #00ff5e;
        transition: width 0.3s ease;
    }



    .navigation ul li a:hover::after {
        width: 100%;
       
    }





    .section-container {
        flex-direction: column;
    }

    



    .content-item {
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        height: 592px;
    }

    .content-item h1 {
        color: #000000;
        font-size: 2.3rem;
        margin-bottom: 3%;
    }

    .image-container img {
        height: 333px;
        padding-bottom: 1%;
    }

    .description-container {
        width: 72%;
    margin: 8% 12% 4% 0%;
       
    }

    .description-container h3 {
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 4%;
    }

    .description-container p {
        width: 100%;
        text-align: center;
        padding-bottom: 2%;
    }




     /*seção 3*/


     .avisos {
        background-color: #42807D;
        border-radius: 15px;
        width: 70%; 
        height: 484px; 
        margin: 1% auto 8%;
    }
    
    
    .avisos h2{
        color: #Fff;
    }
    
    
    .avisos h2 p {
       margin: 0;
       font-size: 1.9rem; 
       width: 29%;
       display: flex;
       

    }
    
   
    .linha {
        display: flex;
 
        align-items: center;
        margin-bottom:5px;
        font-size: 1.1rem;
    margin-left: 0%;
    }



    .linha_esmeralda, .linha_diamante, .linha_amarela {
        margin-top: 2%;
    }
    
    .amarelas, .cinza, .verde {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 9px 15px 11px 22px;
      margin-bottom: 10%;
        background-color: #00ff5e;
    }
    
    .amarelas {
        background-color: yellow;
    }
    
    .cinza {
        background-color: rgb(0, 255, 119);
    }
    
    .verde {
        background-color: rgb(255, 42, 5);
    }
    


    .texto h2, .texto p {
        margin: 0;
        padding: 0;
    }
    




    .sec3 {
        background-color: #fff;
    }
    
    
    .sec3 h1{
        margin-top: 5%;
        font-size: 2.2rem;
    }


    
    .divOne {
        margin: 9% auto 15% 7%;
        width: 73%;
    }

    .divOne h3 {
        text-align: start;
        font-size: 1.8rem;
        margin: 0;
    }

    .divOne p {
        width: 100%;
        font-size: 1.1rem;
text-align: start;
        line-height: 1.7rem;
    }





    .divTwo {

        width: 67%;
        margin: 5% 0 1% 30%;

    }


    .divTwo h3 {
margin-top: 3%;
text-align: start;
margin: 0;
        border-radius: 13px;
        width: 100%;
        font-size: 1.8rem;

    }


    .divTwo p {
        width: 100%;
        font-size: 1.1rem;

        line-height: 1.8rem;
    }

    
#scrollToTop {
    background-color: #42807D;
    color: white;
    height: 54px;
    width: 46%;
    border: none;
    border-radius: 11px;
    padding: 0 15px;
margin: 17% 26.5%  0%;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
}
       
    .fot {
        margin: 0;
        padding: 0;
    width: 100%;
    height: 100px;
    padding: 17px;
    background-color: #42807D;
    text-align: center;
}

.fot p  {
padding: 0%;
margin-top: 0%;
margin-bottom: 1%;
margin-right: 5%;
    font-size: 17px;
    color: #000000;

}



.fot p a {
   margin: 0 25px;
    font-size: 18px;
    padding: 0;
    
}


   
}