

@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
    body{
  
    margin: auto;
    }
        
    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }

    .header {
        background-color: #42807D;
        height: 198px;
        width: 100%;
    }

    
    .header .title {
        width: 40% !important;
        font-size: 3.3rem !important;
        margin: 0% 3% 1.5% 31.5%!important;
    }

    .navigation ul {
        margin-top: 0%;
        margin-right: 5.5%;
    }


    .navigation ul li {
        margin-left: 7%;
    }


    .navigation ul li a {
        font-size: 1.2rem;
        padding: 0;

        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease, font-weight 0.3s ease;
        position: relative;
    }

    .navigation ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #00ff5e;
        transition: width 0.3s ease;
    }



    .navigation ul li a:hover::after {
        width: 100%;
       
    }




   
        
        h1 {
            font-size: 2.6rem;
            margin-bottom: 0;
        }
    
        h2.expandir {
    
            margin: 9% 4% 2%;
            font-size: 2.2rem !important;
            line-height: 1.4;
            text-align: start;
           
            padding: 0 !important;
        }
    
    
        .info {
            width: 90%;
        }
    
        .h1skills {
            font-size: 2.3rem;
            margin: 5% auto 2%;
            text-align: center;
            width: 100%;
        }
        
        .skills-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin: 0 auto;
            padding: 10px;
        }
        
        .skills-icons i {
            font-size: 2rem;
        }
        
        .expandDiv h2 {
    
            font-size: 1rem;
            line-height: 1.3;
            width: 97%;
    
        }
    
    
        .sec1 p {
            font-size: 2.2rem;
        }
    
    
    
        .infoOne {
           
            line-height: 1.8rem;
            
            width: 100%;
    margin: 0;
        }
    
        .infoOne p {
           
            width: 93%;
            margin: auto;
            font-size: 1.4rem;
            line-height: 2rem;
            margin-bottom: 2%;
            text-align: start;
        }
    
    
    
    
        .infoTwo {
            width: 97%;
            margin: 2% 4%;
            
           
        }
    
        .infoTree {
            width: 96%;
            line-height: 1.7rem;
        }
    
        .infoTwo p,
        .infoTree p {
            width: 93%;
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.7rem;
           
    
            padding: 0%;
            text-align: start;
            margin-bottom: 10%;
        }
    

        h2{
            color: #000;
        }
      
        .carrossel {
            display: flex;
            height: 444px; 
           
            width: 100%; 
            max-width: 100%;
            border-radius: 4%;
            overflow: hidden;
            margin: 0 auto;
        }

    .div-ilustrativa{
        margin-left: 2%;
        height: 442px;
        margin-top: 19%;
    }

    .botaoo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.676);
        color: white;
        border: none;
        border-radius: 50%;
        height: 43px;
        width: 6.6%;
        cursor: pointer;
        padding: 10px;
        z-index: 1;
    }

    .botaoo:hover{
background-color: #fff;
color:#000;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
        
    
            .sec1 h1 {
                width: 100%;
                margin-top: 22px;
                margin-bottom: 0;
            }
    
    
    
    
    
    
    
    
    
    
            h1.h1skills {
                font-size: 3rem;
                margin-top: 10%;
                text-align: center;
                margin-right: 2%;
                margin-bottom: 6%;
            }
    
            .skills-icons {
              text-align: center;
                display: block;
                flex-wrap: wrap;
                justify-content: center;
              margin: 0;
                padding: 10px;
            }
    
            .skills-icons i {
                margin: 0;
                padding-left: 3%;
            }
    
    
    
        
    
            .skills-icons i {
                margin-top: 0;
                font-size: 3.5rem;
                margin: 0;
            }
    
    
    
    
    
            .formulario {
                width: 85%;
                margin-left: 7.6%;
                height: 777px;
                padding: 10px;/
            }
.titulo-formulario{
font-size: 2.1rem;
width: 100%;
color: #fff;
}
            .forms {
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 84%;
                max-width: 80%;
                height: 173px;
    
            }
    
    
            .forms input {
                height: 0px;
                font-size: 15px;
                width: 75%;
                margin: 6% 5%;
            }
    .forms textarea{
        height: 2px;
        width: 74%;
        margin-top: 8%;
    }

    .bot{
        height: 55px;
        width: 71%;
        margin-left: 14%;
        border-radius: 9px;
        
    }
    .bot:hover{
        background-color: #fff;
        color: #42807D;
    }
    
            .parcerias {
                margin-top: 7%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px 0;
    
            }
    
            .parcerias h1{
background-color: #00ff5e;
            }
            .image {
                width: 80%;
                margin: 13% 5% 5% 23%;
                display: flex;
                justify-content: center;
    gap: 60px;
            }
    
            .image img {
                height: 90px;
                width: 100%;
                object-fit: contain;
                border-radius: 8px;
           
            }
    

    
            #scrollToTop {
                background-color: #42807D;
                color: white;
                height: 54px;
                width: 46%;
                border: none;
                border-radius: 11px;
                padding: 0 15px;
            margin: 5% 0% 17% 27%;
                font-size: 1.8rem;
                cursor: pointer;
                display: inline-block;
                text-align: center;
              
            }


       
    .fot {
        margin: 0;
        padding: 0;
    width: 100%;
    height: 60px;
    padding: 17px;
    background-color: #42807D;
    text-align: center;
}

.fot p  {
padding: 0%;
margin-top: 0%;
margin-bottom: 2%;
margin-right: 5%;
    font-size: 17px;
    color: #000000;
    position: relative;
    top: 31%;
}



.fot p a {
   margin: 0 25px;
    font-size: 18px;
    padding: 0;
    
}
.fot p:last-of-type {

    font-size: 1rem;
    text-align: center; 

}
    }