


@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    body {
        margin: 0;
    }

    

    /* Ocultando o menu */
    .menu_box {
        display: none; 
    }
    .menu_toggle{
        display: none;
    }

    .header {
        background-color: #42807D;
        height: 103px;
    }

    .header h1 {
        width: 30%;
        position: relative;
        bottom: 28px;
        margin-left:26% ;
        font-size: 3.4rem;
        background-color: #42807D;
        margin-bottom: 0;
    }


    .header {
        padding: 15px;
    }

    .div-header ul {
        margin-top: 0;
    }

    .navigation {
        margin: auto;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation ul li {
       position: relative;
       bottom: 29px;
       right: 9%;
        font-size: 1.3rem;
        padding-left: 5%;
    }

    h1 {
        margin: 5% auto 0;
        font-size: 3.5rem;
    }

    h2.expandir {
        margin:2%;
        text-align: start;
        font-size: 3rem !important;
        line-height: 1.5;
        margin-bottom: 5% !important;
        padding: 0 !important;
    }

    .info {
        width: 88%;
        padding: 15px;
    }

    .expandDiv h2 {
        font-size: 1.5rem;
        line-height: 1.5;
        width: 80%;
    }

    .sec1 p {
        font-size: 3.5rem;
    }
h2.expandir{
    color: #000;
}
    .infoOne {
        line-height: 1.6rem;
        padding: 15px;
        width: 100%;
        margin: 0;
    }

    .infoOne p {
        width: 98%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 1.8rem;
    
        margin-bottom: 4%;
       
        text-align: start;
    }

    .infoTwo {
        width: 90%;
        margin: 0;
        margin-left: 2%;
    }
     
    .paragrafoTwo{
        margin: 1%;
    }
    .infoTree{
        margin-left: 2%;
    }
    .infoTree {
        width: 95%;
        line-height: 1.5rem;
    }

    .infoTwo p{
        width: 90%;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.9rem;
        border-radius: 10px;
     
        text-align: start;
        margin-bottom: 5%;
    }
    

    .infoTree p {
        width: 90%;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.9rem;
        border-radius: 10px;
     
        text-align: start;
        margin-bottom: 14%;
    }

    .carrossel {
        display: flex;
        height: 400px;
        width: 70%;
        max-width: 100%;
        border-radius: 4%;
        overflow: hidden;
        margin: 0 auto;
    }

    .container {
        display: flex;
        transition: transform 0.5s ease;
    }

    .container img {
        height: 100%;
        width: auto;
        border-radius: 4%;
    }

    .sec1 h1 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }

    h1.h1skills {
        font-size: 3.5rem;
        margin: 10% 0 2.5%;
        text-align: center;
        margin: auto;
        margin-bottom: 4%;
    }

    .skills-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      align-items: center;
        padding: 15px;
        margin: 1% auto;
width: 100%;
    }

    .skills-icons i {
        margin: 0 10px;
        padding-left: 1%;
        font-size: 4.3rem;
    }

    .formulario {
        height: 793px;
        width: 59%;
        padding: 15px;
        margin-top: 11%;
    }

    .forms {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width:70%;
        max-width: 80%;
        height: 833px;
    }

    .forms h1 {
        padding-bottom: 5%;
        color: #0b0b0b;
        
        text-align: start;
        margin: 3% auto 7% 5%;
        margin-bottom: 0;
    }

    .forms input {
        height: 60px;
        margin-bottom: 7%;
        font-size: 15px;
        width: 80%;
    }

    .forms textarea{
margin-bottom: 4%;
    }
  
   
    .parcerias {
        padding: 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 82px;
    }
    .parcerias h1{
        text-align: center;
        margin-top: 0;
        padding-bottom: 19%;
    font-size: 7rem;
    width: 50%;
    margin: auto;
    }
    
    .image {
        display: flex;
        justify-content: center;
        gap: 120px;
    margin-left: 18%;
    margin-top: 10%;
    margin-bottom:  13%;
    }
    
    .image img {
       
height: 140px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform .3s;
    }
}
